.icon-left{
position: absolute;
top: 10px;
left: 10px;
transition: all 1s infinite;
}
.icon-right {
position: absolute;
bottom: 10px;
right: 10px;  
}
.seasons-display {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.seasons-display.summer i {
  color: #ffa600e8

}
.seasons-display.winter i {
  color: #0000ff7e

}
.seasons-display.summer {
  background-color: #e6b354;

}
.seasons-display.winter {
  background-color: #ccdeee;

}

.shake {
  animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both infinite;
  transform: translate3d(0, 0, 0);
}

@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }
  
  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}
@keyframes grow {
  10%, 90% {
    transform: scale(.9)
  }

  30%, 50%, 70% {
    transform: scale(1.2);
  }
}